sudo: true
language: ruby
rvm:
  - 2.3.2
  - 2.4.1
before_install:
  - sudo apt-get install -y software-properties-common
  - sudo add-apt-repository -y ppa:maxmind/ppa
  - sudo apt-get update -y
  - sudo apt-get install -y libmaxminddb0 libmaxminddb-dev mmdb-bin
  - gem install bundler -v 1.15.1
